{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        var DetailVar= {
            products: {{ products|serialize|raw }}
        };
    </script>
    {% javascripts '@VelBundle/Resources/public/js/velreact.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@VelBundle/Resources/public/css/velreact.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}